.navbar-container{
    width: 100%;
}
.navbar {
    display: flex;
    justify-content: space-between ;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 3rem 0;

}

.logo{
    width: 80%;

}

.logo > img {
    width: 25%;

}

.wallet-link{
    text-decoration: underline;
    cursor: pointer;
}

